/*
Design by Free CSS Templates
http: //www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/
html {
	overflow-x:hidden; 
	overflow-y:auto;
} /*remove horizontal scroll bar in IE6!*/

body {
	margin-top: 10px;
	margin-bottom:0px;
	padding: 0;
	text-align: justify;
	font-family:arial;
	font-size: 12px;
	color:#333333; 
	background-color:#333333;
}
#description {
	border-top:10px solid #333333; 
	padding:0;
}
#descScroll {
	max-height:250px; 
	overflow-x:hidden; 
	overflow-y:auto;
}
#descInner {
	padding:5px 0;
}
/*position and hide the menu initially...*/
#page {
	position:relative; 
	width:100%; 
	height: 100%; 
	overflow:hidden;
}
#menu {
	position:absolute; 
	bottom:0; 
	left:0; 
	width:100%; 
	display:none;
}
/*dock styling...*/
/*...centre the dock...*/
#menu div.jqDockWrap {
	margin:0 auto;
}
/*...set the cursor...*/
#menu div.jqDock {
	cursor:pointer;
}
/*label styling...*/
div.jqDockLabel {
	font-weight:bold; 
	font-style:italic;
	white-space:nowrap; 
	color:#ffffff; 
	cursor:pointer;
}
#conteudo {
	width:100%;
	height:100%;
}

/* organizando a janela */
div .menulateral {
	background-color:blue;
	float:left;
	width:200px;
	height:50px;
	height:100%;
}
div .conteudo {
	background-color:red;
	float:right;
	width:500px;
	height:100%;
}
/* menu lateral */

.menu_list {
	width: 150px;
}
.menu_head {
	padding: 5px 10px;
	cursor: pointer;
	position: relative;
	margin:1px;
       font-weight:bold;
       background: #eef4d3 url(left.png) center right no-repeat;
}
.menu_body {
	display:none;
}
.menu_body a {
  display:block;
  color:#006699;
  background-color:#EFEFEF;
  padding-left:10px;
  font-weight:bold;
  text-decoration:none;
}
.menu_body a:hover {
  color: #000000;
  text-decoration:underline;
}